<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181079390119-t9f0edfhdes4mqid0f0lnedehlun9rjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181079390119-t9f0edfhdes4mqid0f0lnedehlun9rjv</string>
	<key>API_KEY</key>
	<string>AIzaSyAa7LMUznDVwy7Q8eQM59Lk4aY6Dotrw6o</string>
	<key>GCM_SENDER_ID</key>
	<string>181079390119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edgar.cruz.practica4</string>
	<key>PROJECT_ID</key>
	<string>fir-logindemo-6e1be</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-logindemo-6e1be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181079390119:ios:bb16088b83cfe28c9f2882</string>
</dict>
</plist>